<form
  class="create__product__form"
  hx-post="/create/product"
  hx-swap="innerHTML"
>
  <div id="imageUploadForm" class="upload__product__image__form">
    <label for="productImage"> Upload Image </label>
    <input
      hidden
      id="productImage"
      type="file"
      name="productImage"
      hx-encoding="multipart/form-data"
      hx-post="/create/image"
      hx-target="#imageUploadForm"
      hx-swap="outerHTML transition:true"
    />
  </div>
  <fieldset>
    <label for="productName">
      Name:
      <input
        type="text"
        name="productName"
        placeholder="Product Name"
        required
      />
    </label>
    <label for="price">
      Price:
      <input type="number" name="price" placeholder="Product Price" required />
    </label>
    <label for="description">
      Description:
      <textarea
        type="text"
        name="description"
        placeholder="Product Description"
      ></textarea>
    </label>
    <button type="submit">+ Add Product</button>
  </fieldset>
</form>
