.checkout__form {
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  width: 100%;
}

.sick__button {
  background: #4f439d;
  color: #c0c0b9;
  font-weight: 500;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.8rem 1.5rem;
  transform: skew(-2deg);
  display: inline-block;
  transition: all 0.5s;
  &[disabled] {
    opacity: 0.5;
  }
}

.sick__button:hover {
  background: #4f439d;
  color: white;
  cursor: pointer;
}

.submitting__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submitting__checkout {
  opacity: 0;
  width: 100%;
}

.htmx-indicator .submitting__checkout {
  opacity: 1;
}
